CompileFlags:
  Add:
    - "-Iinclude"
    - "-I/usr/local/include"
    - "-I/usr/include"
    - "-I/usr/include/c++/11"
    - "-I/usr/include/x86_64-linux-gnu"
    - "-I/usr/include/x86_64-linux-gnu/c++/11"
    - "-I/usr/lib/gcc/x86_64-linux-gnu/11/include"
    - "-I/usr/include/c++/11/backward"
