[submodule "externals/llvm-project"]
	path = externals/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "externals/ScaleHLS-HIDA"]
	path = externals/ScaleHLS-HIDA
	url = https://github.com/zeroherolin/ScaleHLS-HIDA.git
	branch = dev
